* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Century Gothic, sans-serif;
    background-color: #76ABAE;
    color: #ffffff;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.freecodecamp-logo {
    height: 35px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    padding: 10px 0;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-style: italic;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 6px 6px #222831;
}

label {
    color: black;
    margin-bottom: 20px;
    font-weight: 600;
}

.palindrome-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #222831;
}

.palindrome-btn {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #222831;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.results-div {
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: black;
}

.user-input {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
}


.palindrome-definition-div {
    width: 450px;
    font-size: 1.2rem;
    min-height: 140px;
    background-color: #222831;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.palindrome-definition {
    vertical-align: middle;
    text-align: center;
}

/*RESPONSIVE*/